.card{
    width:400px;
    height: 400px;
    background-color: blanchedalmond;
    color: darkblue;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-weight: 20px;
     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
         
    /* display: block;
    justify-content: center; */
    font-size: 28px; /* increase heading size */
  font-weight: bold;
  
}


h1{
    background-color: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-display: swap;
    
}

.app{

    display: flex;
    justify-content: center;

}

footer{
    align-items: center;
    color: black;
    background-color: cadetblue;
    text-align: center;
}